/**
 * Section (objects/_section-default.scss)
 */

/* ----- General ----- */
.section-default {
	padding: 3.75rem 0 (3.75rem - 1.25rem) 0;

	@media (min-width: $screen-sm-min) {
		padding: 3.75rem 0 (6.25rem - 1.25rem) 0;
	}
}

/* ----- Variations ----- */
.section-default--darker-theme-color-bg {
	background-color: darken($color-theme-blue, 3%);
}

.section-default--grey {
	background-color: $color-section-grey;
}
