/**
 * Hero subheader (components/_hero-subheader-default.scss)
 */

/* ----- General ----- */
.hero-subheader-default {
	color: $color-dark-blue;
	background-color: $color-theme-blue;
	padding: 3rem 0 (2.25rem) 0;

	@media (min-width: $screen-sm-min) {
		padding: 3rem 0 (2.25rem) 0;
	}

	.btn {
		margin-right: .9375rem;
	}

	.btn--github,
	.btn--w-arrow-down {
		@extend .btn--dark;
	}

	.site-header + & {
		padding: 8rem 0 (2.25rem) 0;

		@media (min-width: $screen-sm-min) {
			padding: 8rem 0 (2.25rem) 0;
		}
	}
}

.hero-subheader-default--before-out {
	@media (min-width: $screen-sm-min) {
		padding: 3.375rem 0 (1.25rem) 0;
	}
}

/* ----- Title ----- */
.hero-subheader__title {
	margin-top: 0;
}

/* ----- Title ----- */
.hero-subheader__desc {
	margin-bottom: 1.875rem;
}

/* ----- Author ----- */
.hero-subheader__author {
	border-left: 2px solid;
	padding-left: 2.5rem;

	.btn {
		margin-bottom: 0;
	}
}

.hero-subheader__author-title {
	font-size: $font-size-h5;
}

/* ----- More ----- */
.hero-subheader__btn-more {
	color: inherit;
}
